<app-header></app-header>

<div class="container">
    <div class="row">

        <div class="offset-md-3 col-md-3">
            <h1>Sign Up</h1>

            <div class="bg-danger mt-2 p-2 text-center text-white" *ngIf="message != null">
                {{message}}
            </div>

            <form novalidate #form="ngForm" (ngSubmit)="signup(form)">
            <!-- <form action="/users/signup" method="post" validate> -->
                <div class="form-group">
                    <label>Display Name:</label>
                    <input type="text" name="displayName" [(ngModel)]="user.displayName" class="form-control"/>
                </div>                               
                <div class="form-group">
                    <label>Phone Number:</label>
                    <input type="text" name="phoneNumber" [(ngModel)]="user.phoneNumber" class="form-control"/>
                </div>
                <div class="form-group">
                    <label>Email:</label>
                    <input type="text" name="email" [(ngModel)]="user.email" class="form-control"/>
                </div>
                <div class="form-group">
                    <label>Password:</label>
                    <input type="password" name="password" [(ngModel)]="user.password" class="form-control"/>
                </div>
                <div class="form-group">
                    <label>Confirm Password:</label>
                    <input type="password" name="password_confirm" [(ngModel)]="confirmPassowrd" class="form-control"/>
                </div>
                <br>
                <div>
                    <input class="btn btn-primary" type="submit" value="Sign up" />
                </div>
            </form>
        </div>
    </div>
</div>

<app-footer></app-footer>